*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#img-song-size{
    width: 30px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 60px;
    background-color: black;
    padding: 0.5rem;
}

.main-logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.size-icon{
    width: 30px;
}

.text-icon{
    display: none;
}

.text-icon-gray{
    display: none;
}

.size-icon-small{
    width: 20px;
}

.line{
    display: none;
}

.side-bar .mid-section{

    flex-grow: 1;

    overflow: auto;

}

.font-h2{
    color: white;
    padding-top: 1rem;
    font-size: 1rem;
}

.card{
    margin: 0 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.img-size{
    width: 100%;
}

.cardContainer{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;

}

.col-1_2{
    width: 50%;
}

.logolg{
    display: none;
}

.line .main-logo{
    padding-top: 1rem;
}

.update{
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 30%);
    padding: 1rem;
}

.update button{
    border-color: white;
    background-color: black;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    font-size: x-small;
}

.logosm{
    padding-bottom: 1rem;
}

.side-bar .top-section{
    flex-shrink: 0;
}

.side-bar .bot-section{
    flex-shrink: 0;
}

.mid-section .playlist-container{
    display: none;
}


.top-container{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.main-container{
    width: calc(100vh - 40px);
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
}

.consigli{
    display: flex;
    padding: 0 0.5rem;
    color: white;
    font-size: x-small;
    justify-content: center;
    flex-wrap: wrap;
}

.text-consigli{
    padding: 0.6rem;
    text-decoration: none;
    color: grey;
}

.bottom-navbar{
    display: flex;
    flex-shrink: 0;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    padding: 0.3rem;
}

.comand1{
    display: flex;
}

.comand2{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.song-icon{
    display: flex;
    justify-content: space-between;
}

.songimg{
    display: flex;
    padding: 0.5rem;
}

.text-comand-song{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: x-small;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.icon-comand-song{
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: smaller;
    padding: 0.5rem 0 0.5rem 0.5rem;
    justify-content: space-between;
}

.comand2 .song-icon .fa-solid, .fa{
    color: white;
    font-size: inherit;
}

.song-icon .fa-regular, .fa-circle-play{
font-size: larger;
color: white;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: x-small;
    padding: 0.5rem 0;
    align-items: baseline;
}

.bar-time{
    display: flex;
    width: 90px;
    height: 4px;
}

.min-1{
background-color: white;
flex-basis: 20%;
}

.min-2{
background-color: gray;
flex-basis: 80%;
}