*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#img-song-size{

    width: 30px;

}

.side-bar{

    display: flex;

    flex-direction: column;

    flex-shrink: 0;

    width: 60px;

    background-color: black;

    padding: 0.5rem;

}

.main-logo{

    display: flex;

    justify-content: center;

    text-decoration: none;

}

.size-icon{

    width: 30px;

}

.text-icon{

    display: none;

}

.text-icon-gray{

    display: none;

}

.size-icon-small{

    width: 20px;

}

.line{

    display: none;

}

.side-bar .mid-section{

    flex-grow: 1;

    overflow: auto;

}

.font-h2{

    color: white;

    padding-top: 1rem;

    font-size: 1rem;

}

.card{

    border: 1px solid red;
    margin: 0 10px;

}

.cardContainer{
    display: flex;
    border: 1px solid blue;
    padding: 10px;
    flex-wrap: wrap;
}

.logolg{

    display: none;

}

.line .main-logo{

    padding-top: 1rem;

}

.update{

    display: flex;

    justify-content: end;

    background-color:black

}

.logosm{

    padding-bottom: 1rem;

}

.side-bar .top-section{

    flex-shrink: 0;

}

.side-bar .bot-section{

    flex-shrink: 0;

}

.mid-section .playlist-container{

    display: none;

}


.top-container{
    
    display: flex;

    flex-grow: 1;

}

.main-container{

    width: calc(100vh - 40px);

    background-color: rgb(20, 25, 34);

    flex-grow: 1;

}

.update{

}

.consigli{

    display: flex;

    padding: 0 1rem;

    color: white;

    border: 0.5px solid red;

    font-size: x-small;

    justify-content: space-around;

    flex-wrap: wrap;

}

.text-consigli{

    padding: 1rem;

    text-decoration: none;

    color: grey;

}

.song-played-container{

    border: 0.5px solid red;

}


.bottom-navbar{

    display: flex;

    flex-shrink: 0;

    background-color: rgb(40, 40, 40);

    justify-content: space-between;

}

.comand{

    display: flex;

    border: 0.5px solid red;

}

.songimg{

    display: flex;

    padding: 0.5rem;

}

.text-comand-song{

    display: flex;

    flex-direction: column;

    color: white;

    font-size: x-small;

    padding: 0.5rem 0.5rem 0.5rem 0;

}

.icon-comand-song{

    display: flex;

    flex-direction: column;

    color: white;

    font-size: x-small;

    padding: 0.5rem 0 0 0.5rem;

}